@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap');

/* Main view */ 
html {
    min-height: 100%;
    position: relative;
    background-color: #41b3a3
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

header {
    text-align: center;
    height: 50px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    color:white;
    background-color: rgb(34, 34, 46);
    font-size: 20px;
    font-weight: bold;
    height: 15%;
}

/* gamer area */

.Gamer1-area {
    margin-left: 15%;
    float: left;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;

}

.gamer-buttons > button {
    text-align: center;
    font-size: 40px;
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #c38d9e
    
}
.gamer-buttons > button:hover {
    background-color: lightcoral;
}


.Gamer2-area {
    margin-right: 12%;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;

}

.computer-gamer > button {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 40px;
    cursor: not-allowed;
    background-color: #c38d9e;

}

.computer-gamer > button:hover {
    background-color: grey;


}


.results-total > div {
    text-align: center;
    padding-top: 18%;
    font-size: 35px;
    
}

.results-total {
    font-weight: bold;
    text-align: center;
}

.score-area2 {
    font-weight: bold;
}

.score-area1 {
    font-weight: bold;
}


/** Screen site adjustments for laptops**/
@media (max-width: 1300px) {
    .Gamer1-area {
        margin-left: 3%;
        font-size: 20px; 
        padding-top: 5%;

    }

    .Gamer2-area {
        margin-right: 3%;
        font-size: 20px;
        padding-top: 5%;
    }

    .results-total > div {
        font-size: 30px;
        padding-top: 30%;
    }

    footer {
        height: 20%;
    }
}

/** Screen site adjustments for tablets **/
@media (max-width: 950px) {
    .results-total > div {
        padding-top: 60%;

    }
}


/** Screen site adjustments for phones **/

@media (max-width: 700px) {
    .Gamer1-area {
        margin-left: 0%;
        font-size: 10px; 
        padding-top: 15%;

    }

    .Gamer2-area {
        margin-right: 0%;
        font-size: 10px;
        padding-top: 15%;
    }

    .results-total > div {
        font-size: 20px;
        padding-top: 100%;
    }

    footer {
        height: 22%;
        font-size: 17px;
        position: absolute;
    }

    .logo {
        width: 180px;
        height: 180px;
    }
}

/** Screen adjustment for smaller phones **/
@media (max-width: 350px) {
    .Gamer1-area {
        font-size: 10px; 
        padding-top: 30%;

    }

    .Gamer2-area {
        margin-right: 0%;
        font-size: 10px;
        padding-top: 30%;
    }

    .results-total > div {
        font-size: 20px;
        padding-top: 140%;
    }

    footer {
        font-size: 17px;
        position:relative;
    }

    .logo {
        display: none;
    }

}

